[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
CN = ailab.lan

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.ailab.lan
DNS.2 = ailab.lan
DNS.3 = *.ailab.internal
DNS.4 = ailab.internal
